.App {
  /* background-color: #282c34; */

}

.barchart{
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .barchart{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  .modify_width{
   background-color: yellow;
   max-width: 200px;
  }
}
